<!-- Static headers -->
<% include ./partials/headers %>
<div class="container">
    <!-- Static submenu -->
    <% include ./partials/submenu %>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2>Welcome, nurull.sarang@gmail.com</h2>
        <p class="text-justify">
            Percaya pada diri sendiri, meskipun mungkin saat ini kamu sedang bersedih. Karena penyemangat terbesar dalam hidupmu adalah dirimu sendiri.
        </p>
    </div>
</div>
<!-- Static footers -->
<% include ./partials/footers %>
